{% extends "base.html" %}
{%load static%}
{% block friend_profile %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/{{user_profile}}">
        {%if user_profile.avatar %}
        <img src="{{ user_profile.avatar.url }}"/>
        {%else%}
        <img width="70" height="70" src="{%static 'images/default_avatar.png'%}"/>
        {%endif%}
    </a>
    <a class="navbar-brand" href="/{{user_profile}}">{{user_profile|title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home</a>
            </li>
        </ul>

        {%if user != user_profile and not is_friend%}
        <form action="{% url 'send_friend_request' user_profile.username %}" method="post"
              class="form-inline my-2 my-lg-0">{%csrf_token%}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">add friend</button>
        </form>
        {%endif%}
        {%if user == user_profile%}
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                friend requests
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {%for notification in notifications%}
                <div class="dropdown-item d-flex">
                    <div class="d-block">
                        <div>
                            {%if notification.sender.avatar %}
                            <img src="{{ notification.sender.avatar.url }}"/>
                            {%else%}
                            <img width="70" height="70" src="{%static 'images/default_avatar.png'%}"/>
                            {%endif%}
                        </div>
                        <div class="font-italic ml-3">
                            {{notification.sender|title}}
                        </div>
                    </div>
                    <div class="float-right mt-3 ml-2">
                        <a href="{%url 'confirm_friend_request' notification.uuid%}">
                            <button class="btn btn-success">confirm</button>
                        </a>
                        <a href="{%url 'reject_friend_request' notification.uuid%}">
                            <button class="btn btn-danger">reject</button>
                        </a>
                    </div>

                </div>
                {%endfor%}
            </div>
        </div>
        {%endif%}
    </div>

</nav>
<div class="container-sm">
    <form method="post" class=" form_post" enctype="multipart/form-data"> {%csrf_token%}
        <div class="form-group border border-primary">
                    <textarea name="text" class="form-control" rows="3"
                              placeholder="Write your post here..." required>
                    </textarea>
            <input name="post_image" type="file" class="float-left form-control-file">
            <button type="submit" class="button-post-form btn btn-primary">Post</button>
        </div>
    </form>
</div>
{% include "include/posts.html" with posts=posts comments=comments comment_replies=comment_replies %}
{% endblock friend_profile %}
